
<h1 class="artists well title-box" >All your cool artists</h1>


<div class="row">
<% @artists.each do |artist| %>
  <div class="hero-unit span6 artist-box">
    <div class="artist-name"><h2><%= artist.name %></h2>
    <h3>Born: <%= artist.dob.strftime("%b. #{artist.dob.day.ordinalize} %Y") %></h3></div>
    <% if current_user.admin? %>
      <br>
      <td><%= link_to 'Edit', edit_artist_path(artist) %></td>
      <td><%= link_to 'Delete', artist, method: :delete, data:{ confirm: 'Are you sure?'} %></td><br>
    <% end %>
    <img src="<%= artist.photo %>"></img>
  </div>
<% end %>
</div>