<%= form_for(@song) do |f| %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :audiofile %><br />
    <%= f.file_field :audiofile %>
  </div>
  <div class="field">
    <%= f.label :artist_ids %><br />
    <%= f.collection_select :artist_ids, @artists, :id, :name, {}, {multiple: true} %>
  </div>
  <div class="field">
    <%= f.label :genres_ids %><br />
    <%= f.collection_select :genre_ids, @genres, :id, :name, {}, {multiple: true} %>
  </div>
  <div class="field">
    <%= f.label :album_ids %><br />
    <%= f.collection_select :album_ids, @albums, :id, :name, {}, {multiple: true} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>