<h1>Listing songs</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
  </tr>

<% @songs.each do |song| %>
  <tr>
    <td><%= song.name %></td>
    <td>$<%= song.price %></td>
    <td>
      <audio controls ="controls">
      <source src="<%= song.audiofile %>" type="audio/mpeg">
    </td>
    <td><%= link_to 'Edit', edit_song_path(song) %></td>
    <td><%= link_to 'Delete', song, method: :delete, data:{ confirm: 'Are you sure?'} %></td>
    <td><%= form_tag '/newpurchase' do %>
      <%= hidden_field_tag 'song_id', song.id %>
      <%= submit_tag 'Buy it now!' %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Song', new_song_path %>