<%= form_for(@album) do |f| %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :release_date %><br />
    <%= f.date_select :release_date, :start_year => 1500, :end_year => Time.now.year %>
  </div>
  <div class="field">
    <%= f.label :photo %><br />
    <%= f.file_field :photo %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>